@using System.Security.Claims;
@using PropertySearchApp.Models.Identities;
@model UpdateUserViewModel

@{
    ViewData["Title"] = "Edit profile";
}
@{
    string currentUserId = User?.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}

<div class="card login-logout-tab">
    <div class="card-header">
        <h5 class="card-header-text">Edit Profile</h5>
    </div>
    <div class="card-content">
        @if (TempData["alert-danger"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["alert-danger"]
            </div>
        }
        else if (TempData["alert-success"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["alert-success"]
            </div>
        }

        <form method="post" asp-controller="Identity" asp-action="Edit" class="mt-1">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" asp-for="Username" required>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Additional Information</label>
                <textarea type="text" class="form-control" asp-for="Information" rows="8"></textarea>
                <span asp-validation-for="Information" class="text-danger"></span>
            </div>

            <!-- Add new contact -->
            <div class="row">
                <label>Add new contact</label>
                <div class="col-md-4">
                    <div class="form-group">
                        <select id="contacts-type" class="form-select" aria-label="Default select example" placeholder="Contact type">
                            <option value="Email address" selected>Email address</option>
                            <option value="Phone number">Phone number</option>
                            <option value="Address">Address</option>
                            <option value="Post code">Post code</option>
                            <option value="Telegram username">Telegram username</option>
                            <option value="Instagram account">Instagram account</option>
                            <option value="LinkedIn account">LinkedIn account</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input id="contacts-content" type="text" class="form-control" placeholder="Contact info">
                    </div>
                </div>
                <div class="col-md-2">
                    <a id="create-contact" class="btn btn-primary mt-0" style="min-width:100%" asp-controller="Contact" asp-action="Create">
                        Create
                    </a>
                </div>
            </div>

            <ul id="contacts-list" style="list-style: none" class="p-0">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Contact type</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Contact info</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Operation</label>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model.Contacts)
                {
                    <li>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" asp-for="@item.ContactType" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" asp-for="@item.Content">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <a asp-controller="Contact" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" style="min-width:100%">
                                    Delete
                                </a>
                            </div>
                        </div>
                    </li>
                }
            </ul>

            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" asp-for="PasswordToCompare" required placeholder="Password to compare">
                <span asp-validation-for="PasswordToCompare" class="text-danger"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger asp-errors"></div>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal" style="min-width:100px">
                Edit
            </button>
            <a class="btn btn-secondary" asp-controller="Identity" asp-action="Details" asp-route-id="@currentUserId" style="margin-top: 5px;min-width:100px">Go back</a>

            <!-- Modal -->
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="editModalLabel">Are you sure?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            You are trying to edit your account
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!--TODO-->
        <!--<a asp-controller="Identity" asp-action="" class="btn btn-outline-primary bg-gradient mt-3 mr-1">Change email address</a>-->
        <a asp-controller="Identity" asp-action="ChangePassword" class="btn btn-outline-danger bg-gradient mt-3 ml-1">Change password</a>
    </div>
</div>

<script type="text/javascript">
    let link = document.getElementById('create-contact')
    const baseLink = link.getAttribute('href')
    // disable link
    link.setAttribute('href', '#')

    const typeInput = document.getElementById('contacts-type')
    const contentInput = document.getElementById('contacts-content')

    typeInput.addEventListener('change', (event) => {
        link.setAttribute('href', baseLink)

        let type = event.target.value
        type = type.replace(/ /g, '+');
        let linkToCreate = link.getAttribute('href');

        let content = document.getElementById('contacts-content').value
        link.setAttribute('href', linkToCreate + '?type=' + type + '&content=' + content)
    })
    contentInput.addEventListener('change', (event) => {
        link.setAttribute('href', baseLink)

        let type = document.getElementById('contacts-type').value
        type = type.replace(/ /g, '+');
        let linkToCreate = link.getAttribute('href');

        let content = event.target.value
        link.setAttribute('href', linkToCreate + '?type=' + type + '&content=' + content)
    })
</script>